<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>projects | Riley Evans</title>
    <meta name="description" content="An undergraduate student at University of Bristol">
    <meta name="author" content="Riley Evans">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Merriweather+Sans:300,400&amp;display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="../images/Favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script><!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56714744-6"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-56714744-6');
    </script>
</head>
<body>
    <div class="header">
        <div class="title">
            <a href="../">
            <h1>Riley Evans</h1></a>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="../">About</a>
                </li>
                <li>
                    <a href="../projects/">Projects</a>
                </li><!-- <li><a href="/" >Cricket</a></li> -->
                <li>
                    <a href="../contact/">Contact</a>
                </li>
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="content" style="margin-top:100px;">
        
  <div class="year">
    <div class="splitter">
      <h2>2022</h2>
    </div>
    <div class="columns">
      <div class="column-size"></div>
        

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
    <div class="text-caption">
      
        <h3>
          Practical Aspects of Declarative Languages (PADL) 2022
          
            <p class="github-link" style="display: inline-block;margin: 0 0 0 7px;">
              <a href="https://github.com/RileyEv/CircuitFlow" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                  <path style="fill:#363636" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
                </svg>
              </a>
            </p>
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Presenting CircuitFlow, <a href="https://link.springer.com/chapter/10.1007/978-3-030-94479-7_6">view the paper</a></p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


</div></div>

  <div class="year">
    <div class="splitter">
      <h2>2021</h2>
    </div>
    <div class="columns">
      <div class="column-size"></div>
        

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
    <div class="text-caption">
      
        <h3>
          CircuitFlow
          
            <p class="github-link" style="display: inline-block;margin: 0 0 0 7px;">
              <a href="https://github.com/RileyEv/CircuitFlow" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                  <path style="fill:#363636" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
                </svg>
              </a>
            </p>
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Creating an embedded data pipeline DSL in Haskell.</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>



        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
              
                
                  <a href="https://github.com/RileyEv/Programming-Languages-Paper-Overview" target="_blank">
                
              
              <div class="media-wrapper">
                <img src="../images/projects/folding-dsl.png" alt="Programming Languages Paper Overview">
              </div>
              
                
                  </a>
                
              
            
    <div class="text-caption">
      
        <h3>
          Programming Languages Paper Overview
          
            <p class="github-link" style="display: inline-block;margin: 0 0 0 7px;">
              <a href="https://github.com/RileyEv/Programming-Languages-Paper-Overview" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                  <path style="fill:#363636" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
                </svg>
              </a>
            </p>
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>An overview of Folding domain-specific languages: deep and shallow embeddings (Functional Pearl)</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


</div></div>

  <div class="year">
    <div class="splitter">
      <h2>2020</h2>
    </div>
    <div class="columns">
      <div class="column-size"></div>
        

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
              
                
                  <a href="https://github.com/RileyEv/Uni-CC-Report" target="_blank">
                
              
              <div class="media-wrapper">
                <img src="../images/projects/cloud-auto-marker.png" alt="Cloud based submission auto-marker">
              </div>
              
                
                  </a>
                
              
            
    <div class="text-caption">
      
        <h3>
          Cloud based submission auto-marker
          
            <p class="github-link" style="display: inline-block;margin: 0 0 0 7px;">
              <a href="https://github.com/RileyEv/Uni-CC-Report" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                  <path style="fill:#363636" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
                </svg>
              </a>
            </p>
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Created a cloud based system on AWS, to auto mark students submission for the Game of Life coursework</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>



        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
              
                
                  <a href="https://github.com/BigMacintosh/Parking" target="_blank">
                
              
              <div class="media-wrapper">
                <img src="../images/projects/games-project.png" alt="Games Project">
              </div>
              
                
                  </a>
                
              
            
    <div class="text-caption">
      
        <h3>
          Games Project
          
            <p class="github-link" style="display: inline-block;margin: 0 0 0 7px;">
              <a href="https://github.com/BigMacintosh/Parking" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                  <path style="fill:#363636" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
                </svg>
              </a>
            </p>
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>A game made as part of my Computer Science course at University of Bristol.</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>



        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
              
                
                  <a href="https://github.com/RileyEv/Uni-HPC-OpenCL-Report" target="_blank">
                
              
              <div class="media-wrapper">
                <img src="../images/projects/adv-hpc.png" alt="High Performance Computing: OpenCL">
              </div>
              
                
                  </a>
                
              
            
    <div class="text-caption">
      
        <h3>
          High Performance Computing: OpenCL
          
            <p class="github-link" style="display: inline-block;margin: 0 0 0 7px;">
              <a href="https://github.com/RileyEv/Uni-HPC-OpenCL-Report" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                  <path style="fill:#363636" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
                </svg>
              </a>
            </p>
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Running OpenCL code on a super computer. Created versions in C, Python and Haskell. Achieved a mark of 90%.</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


</div></div>

  <div class="year">
    <div class="splitter">
      <h2>2019</h2>
    </div>
    <div class="columns">
      <div class="column-size"></div>
        

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
              
                
                  <a href="https://github.com/Crickly/crickly" target="_blank">
                
              
              <div class="media-wrapper">
                <img src="../images/projects/crickly.jpg" alt="Crickly">
              </div>
              
                
                  </a>
                
              
            
    <div class="text-caption">
      
        <h3>
          Crickly
          
            <p class="github-link" style="display: inline-block;margin: 0 0 0 7px;">
              <a href="https://github.com/Crickly/crickly" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                  <path style="fill:#363636" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
                </svg>
              </a>
            </p>
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>A simple Django app to store cricket matches.</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>



        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
    <div class="text-caption">
      
        <h3>
          Google Hashcode 2019
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>#1 Team in Bristol</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>



        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
    <div class="text-caption">
      <a href="RileyEv/hackathon-2019" target="_blank">
        <h3>
          Boeing Hackathon 2019
          
        </h3>
      </a>
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>An explosive VR health and safety game</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>



        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
              
                
                  <a href="https://github.com/josh26turner/UoB-Library-App" target="_blank">
                
              
              <div class="media-wrapper">
                <img src="../images/projects/uob-app-logo.png" alt="University of Bristol Library App">
              </div>
              
                
                  </a>
                
              
            
    <div class="text-caption">
      
        <h3>
          University of Bristol Library App
          
            <p class="github-link" style="display: inline-block;margin: 0 0 0 7px;">
              <a href="https://github.com/josh26turner/UoB-Library-App" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                  <path style="fill:#363636" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
                </svg>
              </a>
            </p>
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>A mobile app to loan library books</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>



        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
              
                
                  <a href="https://github.com/RileyEv/cricket-classification" target="_blank">
                
              
              <div class="media-wrapper">
                <img src="../images/projects/cricket-classification.jpg" alt="Cricket Player Classification">
              </div>
              
                
                  </a>
                
              
            
    <div class="text-caption">
      
        <h3>
          Cricket Player Classification
          
            <p class="github-link" style="display: inline-block;margin: 0 0 0 7px;">
              <a href="https://github.com/RileyEv/cricket-classification" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                  <path style="fill:#363636" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
                </svg>
              </a>
            </p>
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Classifying cricket players into batsman, bowler or all-rounder</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


</div></div>

  <div class="year">
    <div class="splitter">
      <h2>2018</h2>
    </div>
    <div class="columns">
      <div class="column-size"></div>
        

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
              
                
                  <a href="https://github.com/RileyEv/XC-Game-Of-Life" target="_blank">
                
              
              <div class="media-wrapper">
                <img src="../images/projects/gol.gif" alt="Game of Life">
              </div>
              
                
                  </a>
                
              
            
    <div class="text-caption">
      
        <h3>
          Game of Life
          
            <p class="github-link" style="display: inline-block;margin: 0 0 0 7px;">
              <a href="https://github.com/RileyEv/XC-Game-Of-Life" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                  <path style="fill:#363636" d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"></path>
                </svg>
              </a>
            </p>
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Concurrent implementation of Conway's Game of Life, using XC.</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


</div></div>

  <div class="year">
    <div class="splitter">
      <h2>2016</h2>
    </div>
    <div class="columns">
      <div class="column-size"></div>
        

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
              
                <a href="https://mvr.rileyevans.co.uk" target="_blank">
              
              <div class="media-wrapper">
                <img src="../images/projects/madviper.jpg" alt="MadViper">
              </div>
              
                </a>
              
            
    <div class="text-caption">
      <a href="https://mvr.rileyevans.co.uk" target="_blank">
        <h3>
          MadViper
          
        </h3>
      </a>
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>A gallery website for YouTuber and Photographer MadViper</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


</div></div>



    </div>
    <script>
    var grid = jQuery('.columns').masonry({
    itemSelector: '.column-item',
    columnWidth: '.column-size',
    gutter: 20
    });
    // layout Masonry after each image loads
    grid.imagesLoaded().progress( function() {
    grid.masonry('layout');
    });
    </script>
</body>
</html>
