<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>About | Riley Evans</title>
    <meta name="description" content="An undergraduate student at University of Bristol">
    <meta name="author" content="Riley Evans">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,400|Merriweather+Sans:300,400&amp;display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="./images/Favicon.png">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script><!-- Global site tag (gtag.js) - Google Analytics -->

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56714744-6"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-56714744-6');
    </script>
</head>
<body>
    <div class="header">
        <div class="title">
            <a href="./">
            <h1>Riley Evans</h1></a>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a href="./">About</a>
                </li>
                <li>
                    <a href="./projects/">Projects</a>
                </li><!-- <li><a href="/" >Cricket</a></li> -->
                <li>
                    <a href="./contact/">Contact</a>
                </li>
            </ul>
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="content" style="margin-top:100px;">
        <div class="year about">
    <div class="splitter">
        <h2>About</h2>
    </div>
    <div class="columns">
        <div class="column-size"></div>
        <div class="column-item double-width">
            <article>
                <a>
                    <div class="media-wrapper">
                         <img src="images/me.jpeg" alt="Riley Evans">
                    </div>
                </a>
                <div class="text-caption">
                    <h3>About Me</h3>
                    <hr>
                    <p>
                        I am an undergraduate students at the
                        <a href="https://www.bristol.ac.uk">University of Bristol</a>
                        , studying computer science.</p>
                    <p>
                        I have interests in: data science, cricket
                        analytics and website design.
                    </p>
                </div>
                <div style="clear:both"></div>
            </article>
        </div>
        
<p>test</p>

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
              
                
              
              <div class="media-wrapper">
                <img src="./images/jobs/bristoluni.png" alt="Student - University of Bristol">
              </div>
              
                
              
            
    <div class="text-caption">
      
        <h3>
          Student - University of Bristol
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Studying Computer Science MEng</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


<p>test</p>

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
    <div class="text-caption">
      
        <h3>
          Teaching Assistant 20/21 - University of Bristol
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Lead teaching assistant 2020/21 for Computer Systems A, teaching students about concurrent and distributed systems.  Also a teaching assistant for High Performance Computing</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


<p>test</p>

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
              
                <a href="https://five.ai/" target="_blank">
              
              <div class="media-wrapper">
                <img src="./images/jobs/five.jpg" alt="Intern Engineer - FiveAI">
              </div>
              
                </a>
              
            
    <div class="text-caption">
      <a href="https://five.ai/" target="_blank">
        <h3>
          Intern Engineer - FiveAI
          
        </h3>
      </a>
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Created a dashboard to inspect the state of different self-driving missions.</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


<p>test</p>

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
    <div class="text-caption">
      
        <h3>
          Teaching Assistant 19/20 - University of Bristol
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Teaching assistant 2019/20 for Concurrent Computing and Language Engineering</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


<p>test</p>

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
              
                <a href="http://www.cricviz.com" target="_blank">
              
              <div class="media-wrapper">
                <img src="./images/jobs/cricviz.jpeg" alt="Intern - CricViz">
              </div>
              
                </a>
              
            
    <div class="text-caption">
      <a href="http://www.cricviz.com" target="_blank">
        <h3>
          Intern - CricViz
          
        </h3>
      </a>
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Developing models to allow for automatic detection of interesting statistics in cricket.</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


<p>test</p>

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
              
                <a href="https://www.jaguarlandrover.com" target="_blank">
              
              <div class="media-wrapper">
                <img src="./images/jobs/jlr.JPG" alt="Technical Analyst - Jaguar Land Rover">
              </div>
              
                </a>
              
            
    <div class="text-caption">
      <a href="https://www.jaguarlandrover.com" target="_blank">
        <h3>
          Technical Analyst - Jaguar Land Rover
          
        </h3>
      </a>
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Prototyped an automated workflow for reporting on engineering data.</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


<p>test</p>

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
    <div class="text-caption">
      <a href="https://www.solihull.ac.uk" target="_blank">
        <h3>
          Data Entry - Solihull College
          
        </h3>
      </a>
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Enrolled students at the college.</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


<p>test</p>

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
    <div class="text-caption">
      
        <h3>
          A Levels - Tudor Grange Academy Solihull
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>A-Levels: Mathematics (A*), Further Mathematics (A*), Computer Science (A*) and Physics (A)</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


<p>test</p>

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
    <div class="text-caption">
      <a href="https://www.dev.ngo" target="_blank">
        <h3>
          Intern - Blanc (now Dev Society)
          
        </h3>
      </a>
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>Created a website for a client to display their art portfolio.</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>


<p>test</p>

        <div class="column-item"> <!-- Remove double-width for a single column-->
          <article>
            
    <div class="text-caption">
      
        <h3>
          GCSEs - Tudor Grange Academy Solihull
          
        </h3>
      
      <!--<p class="tags">
        {% for tag in project.tags.all %}
          <a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>-->
      <hr />
      <p>13 GCSEs including Maths (A*) & English (A)</p>
    </div>
    <div style="clear:both"></div>
  </article>
</div>



    </div>
</div>

    </div>
    <script>
    var grid = jQuery('.columns').masonry({
    itemSelector: '.column-item',
    columnWidth: '.column-size',
    gutter: 20
    });
    // layout Masonry after each image loads
    grid.imagesLoaded().progress( function() {
    grid.masonry('layout');
    });
    </script>
</body>
</html>
